body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #FFF2E8;
}

.nav {
    height: 3vh;
    padding: 1.75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbutt {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.navbutt a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5vw;
    color: #EE441C;
}

#home {
    height: 4vh;
    width: 6vw;
    background-color: #EE441C;
    color: #FFF2E8;
    border-radius: 2vh;
}

.hero {
    position: relative;
    height: 92.5vh;
}

.hero h1 {
    margin: 0;
    position: absolute;
    bottom: 2vh;
    font-size: 15vw;
    font-weight: 300;
    background: linear-gradient(91deg, #EE441C 22.18%, #CB3A18 99.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}