body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #FFF2E8;
}

.nav {
    height: 3vh;
    padding: 1.75vw;
    display: flex;
    justify-content: space-between;
}

.navbutt {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.navbutt a {
    text-decoration: none;
    font-size: 1.5vw;
    color: #EE441C;
}
.boderline {
    height: 0.1vh;
    background-color: #EE441C;
}
.hero {
    position: relative;
    height: 92.5vh;
}

.hero h1 {
    margin: 0;
    position: absolute;
    bottom: 2vh;
    font-size: 15vw;
    font-weight: 300;
    background: linear-gradient(91deg, #EE441C 22.18%, #CB3A18 99.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}